<FlexBoxLayout flexWrap="wrap">
    <Button text="addMarker" (tap)="addMarker()" class="btn btn-primary" margin="5"></Button>
    <Button text="updateMarker" (tap)="updateMarker()" class="btn btn-primary" margin="5"></Button>
    <Button text="removeMarker" (tap)="removeMarker()" class="btn btn-primary" margin="5"></Button>
    <Button text="addPolygon" (tap)="addPolygon()" class="btn btn-primary" margin="5"></Button>
    <Button text="removePolygon" (tap)="removePolygon()" class="btn btn-primary" margin="5"></Button>
    <Button text="addPolyline" (tap)="addPolyline()" class="btn btn-primary" margin="5"></Button>
    <Button text="removePolyline" (tap)="removePolyline()" class="btn btn-primary" margin="5"></Button>
    <Button text="getViewport" (tap)="getViewport()" class="btn btn-primary" margin="5"></Button>
    <Button text="setCenter" (tap)="setCenter()" class="btn btn-primary" margin="5"></Button>
    <Button text="getZoom" (tap)="getZoom()" class="btn btn-primary" margin="5"></Button>
    <Button text="animate" (tap)="cameraAnimate()" class="btn btn-primary" margin="5"></Button>
    <Button text="tilt" (tap)="tilt()" class="btn btn-primary" margin="5"></Button>
    <Button text="userLocation" (tap)="userTrackLocation()" class="btn btn-primary" margin="5"></Button>
    <Button text="fineLocation" (tap)="fineLocation()" class="btn btn-primary" margin="5"></Button>
    <Button text="changeStyle" (tap)="changeStyle()" class="btn btn-primary" margin="5"></Button>
</FlexBoxLayout>
