<ActionBar>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label text="Source with URL"></Label>
</ActionBar>

<StackLayout>
    <ContentView height="100%" width="100%">
        <Mapbox
            [accessToken]="accessToken"
            mapStyle="mapbox://styles/mapbox/satellite-v9"
            latitude="138.043"
            longitude="35.201]"
            hideCompass="true"
            zoomLevel="7"
            showUserLocation="false"
            disableZoom="false"
            disableRotation="false"
            disableScroll="false"
            disableTilt="false"
            (mapReady)="onMapReady($event)">
        </Mapbox>
    </ContentView>
</StackLayout>
